<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "https://achievement-images.teamtreehouse.com/badges_SimpleFacebook_Stage1.png" %>
	</div>

	<div id="content">
		<h1>My Ruby on Rails Blog Project..</h1>
		<p>This is a basic blog application built using Rails 4.</p>
		<p>The blog enables full CRUD opertation on blog posts aswell as adding or deleting comments on individual posts.</p>
		<p>The finished application will also also the user to log in and out to create new posts and perform other admin tasks.</p>
	</div>
</div>