<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "http://blog.teamtreehouse.com/wp-content/uploads/2013/10/photo1.jpg" %>
	</div>

	<div id="content">
		<h1>Tech shizzle here</h1>
	</div>
</div>